@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
#msg-box5-a .mbr-header__text {
  color: #ffffff;
}
#msg-box5-a .mbr-header__subtext {
  color: #0a1b4d;
  text-align: center;
  font-size: 24px;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
#msg-box5-a .btn {
  font-size: 20px;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #0a1b4d;
  font-size: 24px;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
}
#msg-box5-c .btn {
  font-size: 20px;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-g .mbr-navbar__hamburger {
  color: #faaf40;
}

#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #fac51c;
}
#ext_menu-3 .mbr-navbar__items a {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 32px;
}
